.appointment-section form {
}

.appointment-section h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.appointment-section input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.appointment-section input[type="radio"],
.appointment-section input[type="checkbox"] .appointment-section select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.appointment-section fieldset {
  margin-bottom: 30px;
  border: none;
}

.appointment-section legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.appointment-section label {
  display: block;
  margin-bottom: 8px;
}

.appointment-section label.light {
  font-weight: 300;
  display: inline;
}
